/* 
theme color: #A2B352
gray: #E8E8E8
*/

.heading {
	font-size: 300%;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	text-align: center;
}


.right {
	text-align: right;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: url('/imgs/backgrounds/1.jpg') no-repeat center center fixed;
	background-size: cover;
	color: white;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

div {
	position: absolute;
	top: 50%;
	margin-top: -145px;
	left: 50%;
	margin-left: -155px;
}

input[type=text], input[type=password] {
	font-family: Helvetica, Arial, sans-serif;
	border: black solid 1px;
	font-size: 110%;
	padding: 5px;
	height: 100%;
	width: 100%;
}

input[type=submit] {
	font-family: Helvetica, Arial, sans-serif;
	padding: 5px 30px;
	border: none;
	border-radius: 100px;
	color: #FFFFFF;
	background-color: #BCC882;

	-webkit-appearance: none;

	transition: all ease .2s;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-o-transition: all ease .2s;
	-ms-transition: all ease .2s;
}

input[type="submit"]:hover {
	background-color: #A2B352;
}