body {
	background-color: rgb(193, 0, 3);
}

#moremargins {
	margin-top: 100px;
	font-size: 200%;
}

p {
	text-align: center;
	color: rgba(255, 255, 255, 1);
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 150%;
}